//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

#app-root-2023-benin_companies .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px auto;
  max-width: 700px;
  h3 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
    line-height: 34px;
  }
  .table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity;
    width: 100%;
    tr {
      margin: 0;
      padding: 0;
      th {
        border: 1.5px solid #333;
      }
      td {
        border-bottom: 1px solid #666;
        border-left: 1px solid #666;
      }
      th,
      td {
        margin: 0;
        padding: 7px 10px;
        text-align: left;
        vertical-align: middle;
        &.number {
          text-align: right;
        }
        &.percentage {
          span {
          display: inline-block;
            &:after {
              color: @unblue;
              content: "\25B2";
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  figcaption {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
  }
}

@import 'basics.less';